<div class="row">      
  <div class="collection col l6 m8">    
    <div class="sprint-list" *ngFor="let p of projectSprintCollection">
      <!-- <input value="{{p.workTimeSec}}" (change)="setTime(p.project.id, $event.currentTarget.value)"><label>{{p.project.name}}</label>               -->
      <div>
          <a routerLink="projectSettings/{{p.projectId}}" class="collection-item">{{p.projectName}}</a>
      </div>
      <div>
          <a routerLink="SprintSettings/{{p.sprintId}}" class="collection-item">{{p.projectName}}-{{p.sprintId}}</a>      
      </div>
      <div class="sprintBtn">
          <a *ngIf="!p.OpentAt"class="waves-effect waves-light btn">Запустить</a>
          <a *ngIf="p.OpentAt"class="waves-effect waves-light btn">Завершить</a>
      </div>       
    </div>
  </div>    
</div>