.sprint-list {
    display: flex;
    align-content: center;
}
.sprint-list div {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 40%;
}
.sprint-list a{
    display: block;
}

.sprint-list > div.sprintBtn  {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 20%;
}

.sprint-list div:hover {
    background-color: #ddd;
}

