<div class="row">
  <div class="col s4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Текущий релиз</span>    
          <!--<app-task-list *ngFor="let t of taskCollection">  | allTasks: userId" -->
          <!-- [task] = "t"
          ></app-task-list> -->
        </div>        
      </div>
    </div>
    <div class="col s4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Все задачи</span>    
          <!-- <app-task-list *ngFor="let t of taskCollection" >
          [task] = "t"
          ></app-task-list> -->
        </div>        
      </div>
    </div>
    <div class="col s4">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title" routerLink="tomatoSetings">Помидорка</span>    
            <app-tomato></app-tomato>
          </div>         
        </div>
      </div>    
</div>
  



<!--<div class="row">
    <div class="input-field col s6">
      <input id="first_name2" class="validate" [(ngModel)]="searchStr">
      <label class="active" for="first_name">Поиск по имени</label>
    </div>
  </div>            
  <div class="row">
    <app-user 
    *ngFor="let u of users | search:searchStr"
    [user]="u"
    ></app-user>    
  </div>-->