<app-settings-page *ngIf="!taskId"></app-settings-page>
<div class="row" *ngIf="!taskId"> 
  <!-- <p *ngIf="!this.taskCollection.length">Нет доступных задач</p>    -->
  <div class="row">
    <ul class="collection col l6 m8">
    <app-task-list *ngFor="let t of taskCollection"
    [task] = "t"
    ></app-task-list></ul>
  </div>
</div>
<div *ngIf="task">
  <div class="row">
      <form class="col s12" [formGroup]="form">        
        <div class="row">
          <div class="input-field col s6">
            <input formControlName="subject" id="subject" type="text" value={{task.subject}} class="validate">
            <label class="active" for="subject">Тема</label>
          </div>
          <div class="input-field col s6">            
            <label class="active" for="status">Статус</label>            
              <select  type="text" formControlName="status" id="status">    
                  <option selected value="{{task.status}}">{{task.status}}</option>               
                  <option *ngIf="task.status !== 'new'" value="new">new</option>
                  <option *ngIf="task.status !== 'inProgress'" value="inProgress">inProgress</option>
                  <option *ngIf="task.status !== 'resolved'" value="resolved">resolved</option>
                  <option *ngIf="task.status !== 'closed'" value="closed">closed</option>
                  <option *ngIf="task.status !== 'reopened'" value="reopened">reopened</option>
                  <option *ngIf="task.status !== 'rejected'" value="rejected">rejected</option>
                  <option *ngIf="task.status !== 'suspended'" value="suspended">suspended</option>                  
                </select>  
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input formControlName="description" id="description" value={{task.description}} type="text" class="validate">
            <label class="active" for="description">Описание</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input formControlName="projectId" value ={{projectId}} id="projectId" type="text" class="validate">
            <label class="active" for="projectId">Проект</label>
          </div>
          <div class="input-field col s6">
            <input formControlName="sprintId" id="sprintId" type="text" class="validate">
            <label class="active" for="sprintId">Спринт</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <!-- <input formControlName="priority" id="priority" type="text" class="validate"> -->
            <label class="active" for="priority">Приоритет</label>           
              <select  type="text" formControlName="priority" id="priority">    
                <option selected value="{{task.priority}}">{{task.priority}}</option>            
                <option *ngIf="task.priority !== 'low'"value="low">low</option>
                <option *ngIf="task.priority !=='normal'"value="normal">normal</option>
                <option *ngIf="task.priority !=='high'"value="high">high</option>
                <option *ngIf="task.priority !=='urgent'"value="urgent">urgent</option>
                <option *ngIf="task.priority !=='immidiate'"value="immidiate">immidiate</option>               
              </select>  
          </div>
          <div class="input-field col s6">
            <input formControlName="estimateTimeSec" id="estimateTimeSec" value="{{task.estimateTimeSec}}" type="text" class="validate">
            <label class="active" for="estimateTimeSec">Часов работы</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <div class="addUser">
              <select formControlName="executor" id="executor">
                <option selected value="{{task.executor.userName}}">{{task.executor.userName}}</option>
                <option *ngFor="let u of allUsers | taskExecutor : task.executor.id" value="{{u.userName}}">{{u.userName}}</option>
              </select>
            </div>            
            <label class="active" for="executor">Исполнитель</label>
          </div>
          <div class="input-field col s6" *ngIf="taskId != 'new'">
            <input formControlName="creator" id="creator" type="text" class="validate">
            <label class="active" for="creator">Создал</label>
          </div>
        </div>
        <button *ngIf="taskId == 'new'" class="btn waves-effect waves-light" type="submit" name="action" (click)="createTask(form.value)">Создать
          <i class="material-icons right">send</i>
        </button>  
        <button *ngIf="taskId != 'new'" class="btn waves-effect waves-light" type="submit" name="action" (click)="saveTask(form.value)">Сохранить
          <i class="material-icons right">send</i>
        </button>               
      </form>   
    </div>
</div>            