select {
    display: block;
    padding: 0px 30px;    
    border: 0px;
    border-bottom: 1px solid #9e9e9e;
}

select:focus {
    outline: none;
    border-bottom: 1px solid #26a69a;    
    box-shadow: 0 1px 0 0 #26a69a;;
}

select {
    display: block !important;
}
