<div class="col l3 m12">
  <div class="card blue-grey darken-1" id="{{project.id}}" (click)="marked()" [ngClass]="{'marked' : isMarked}">
    <div class="card-action">          
      <a routerLink="{{project.id}}">{{project.name}}</a>
    </div>
    <div class="card-content white-text">
      <a routerLink="../tasks/{{project.id}}" class="card-title" >Таски</a>    
      <!-- <app-task-list *ngFor="let t of taskCollection | projectAllTasks: project.id"
      [task] = "t"
      ></app-task-list> -->
    </div>    
  </div>
</div>
          
