<div class="tomato-bar">
  <div>
    <i class="medium material-icons right">play_arrow</i>
  </div>
  <div class="tomato-task-id" (click)="getTasks">Номер задачи    
  </div>  
  <div class="timestamp">00:00:00</div>
</div>
